<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="yellow">
    <h1>Welcome to my home  page</h1>
    <a href="/">Home</a>         |
    <a href="/about">About</a>        |  
     <a href="/course">Courses</a>     |
     <a href="/faculty">Faculty</a>        |
     <a href="/contact">Contact</a>        |
     <a href="/insert">Insert</a>        |

     <hr size="4" color="red">

        <h1>Our Running courses</h1>

        <li>
            <ul>PHP</ul>
            <ul>MERN</ul>
            <ul>MEAN</ul>
            <ul>JAVA</ul>
            <ul>.NET</ul>
            <ul>ASP</ul>

        </li>


     <hr size="4" color="red">
  

    
</body>
</html>