<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="yellow">
    <h1>Welcome to my home  page</h1>
    <a href="/">Home</a>         |
    <a href="/about">About</a>        |  
     <a href="/course">Courses</a>     |
     <a href="/faculty">Faculty</a>        |
     <a href="/contact">Contact</a>        |
     <a href="/insert">Insert</a>        |

     <hr size="4" color="red">

        <h1>Our Faculties</h1>

       

     <hr size="4" color="red">
  

    
</body>
</html>