<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="yellow">
    <h1>Welcome to my home  page</h1>
    <a href="/">Home</a>         |
    <a href="/about">About</a>        |  
     <a href="/course">Courses</a>     |
     <a href="/faculty">Faculty</a>        |
     <a href="/contact">Contact</a>        |
     <a href="/insert">Insert</a>           |

     <hr size="4" color="red">

        <h1>Insert Students Record</h1>
        <form method="post" action="/datasave">
            Enter Rollno:<input type="text" name="rno" >
            <br/>
            Enter Name:<input type="text" name="nm">
            <br/>
            Enter City:<input type="text" name="ct">
            <br/>
            Enter Fees:<input type="text" name="fs">
            <br/>
            <button>Data Save!!!</button>

        </form>


     <hr size="4" color="red">
  

    
</body>
</html>